
.building-map {
    width: 70%;
    float: left;
    margin: 0 auto; /* Horizontally center the element */
    padding: 3%;
    
    
}

.building-info {
    width: 30%;
    float: right;
    padding: 3%;
}
