
.building-map {
    width: 65%;
    float: left;
    margin: 0 auto; /* Horizontally center the element */
    padding: 3%;
    
    
}

.building-info {
    width: 25%;
    float: right;
    padding: 3%;
}
